@font-face {
  font-family: "bold-font";
  src: url("/assets/fonts/plex-bold.ttf");
}

.letter-container {
  height: 100%;
  margin: 1vw;
}

.letter {
  cursor: pointer;
  font-family: "bold-font";
  font-size: 16vw;
  color: white;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}
