/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica, Arial, "sans-serif";

  background: #000000;
  background: radial-gradient(#232526, #000000);
}
